{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<div class="container">

    <div style="margin-top:12rem">
    <h1 class="text-white" style="text-align: center">Search</h1>
<div style="width:40%; margin: 0 auto; ">
    <div class="form" style="margin: 0 auto">
        <form action="/results" method="POST" class="form-inline">
            <div class="form-group d-flex-justified-center">
                <input type="text" name="content" id="content" class="form-control mr-1">
                <input type="submit" value="Search" class="btn btn-outline"/>
            </div>
        </form>
    </div>
        </div>
    </div>
</div>
{% endblock %}